/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 */

$black: #2D2D2D;
$white: #F4F4F4;
$lightGrey: #D0D0D0;
$darkGrey: #A3A3A3;
$gold: #CAB681;
$lightGold: #EBE2D4;
$darkGold: #A3946F;