/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 */


$title1: 4.973em;
// 4.236em
$title2: 3.608em;
$subTitle2: 3.074em;
$title3: 2.618em;
// 2.23em
$subTitle3: 1.9em;
$title4: 1.618em;
// 1.378em
$subTitle4: 1.174em;
$currentText: 1em;
$subText: 0.852em;
$cpr: 0.726em;
// 0.618em	
// 0.526em	
// 0.448em
// 0.382em
// 0.325em

	
	
	
	
	
	