/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
